/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}


.section-title-1 {
  position: relative;
  float: right;  
  border: 1px solid black;
  padding: 5px;  
  background-color: lightcoral;
  font-size: larger;
  
}

.section-title-2 {
  position: relative;
  float: right;  
  border: 1px solid black;
  padding: 5px;  
  background-color: crimson;
  font-size: larger;
  
}

.section-title-3 {
  position: relative;
  float: right;  
  border: 1px solid black;
  padding: 5px;  background-color: goldenrod;
  font-size: larger;
  
}

.section-spacing {  
  border: 3px solid black;
  margin: 3 3px; 
  background-color: gainsboro;    
}

.section-content {  
  padding: 10px;
}

.menu-item {
  background-color: rgba(241, 241, 237, 0.751);
  color: brown;
  text-align: center;
  border: 1px dashed black;
}